*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    background: #e0f1e7;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1{
    margin-bottom: 30px;
}

label{
    margin-top: 15px;
    width: 100%;
}

input{
    border: 1px solid #b1b5b4;
    border-radius: 10px;
}

.form-input{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    min-height: 50px;
}

p{
    margin-left: 10px;
}

.color-mark{
    color: #61897e;
    margin-left: 5px;
}

.form-names{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.query-type-checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.query-type-checkbox-item{
    margin-top: 10px;
    border: 1px solid #b1b5b4;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    min-height: 50px;
    align-items: center;
    font-size: 18px;
    padding-left: 20px;

}

.form-input-message{
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.submit-btn{
    border-radius: 10px;
    border: none;
    margin: 30px 0;
    background: #61897e;
    text-align: center;
    color: #fff;
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    font-size: 20px;
}


.sign{
    display: flex;
    padding-top: 15px;
}

.checkbox-message{
    width: 20px;
    height: 20px;
}

@media(max-width: 670px){
    .form-names{
        display: flex;
        flex-direction: column;
    }

    .query-type-checkbox{
        display: flex;
        flex-direction: column;
    }
}

